In [2]:
#Map function
items = [1, 2, 3, 4, 5]

In [3]:
def sqr(x):
    return x ** 2

In [4]:
map(sqr, items)

In [5]:
list(map(sqr, items))

[1, 4, 9, 16, 25]

In [6]:
for each in map(sqr, items):
    print(each)

1
4
9
16
25

In [7]:
list(map((lambda x: x **2), items))

[1, 4, 9, 16, 25]

In [18]:
import numexpr

In [19]:
def square(x):
    return (x**2)

def cube(x):
    return (x**3)

def sqroot(x):
    return (numpy.sqrt(x))

In [10]:
funcs = [square, cube, sqroot]

In [11]:
for r in range(5):
    value = map(lambda x: x(r), funcs)
    print (list(value))

[0, 0, 0.0]
[1, 1, 1.0]
[4, 8, 1.4142135623730951]
[9, 27, 1.7320508075688772]
[16, 64, 2.0]

In [12]:
def to_upper_case(s):
    return str(s).upper()

In [13]:
def print_iterator(it):
    for x in it:
        print(x, end=" ")

    print(" ") # for new line

In [14]:
list( map(to_upper_case, 'abc'))

['A', 'B', 'C']

In [15]:
# map( with string)
map_iterator = map(to_upper_case, 'abc')

print(type(map_iterator))
print_iterator(map_iterator)

<class 'map'>
A B C

In [16]:
list(map(to_upper_case, (1, 'a', 'abc')))

['1', 'A', 'ABC']

In [17]:
#Python map() multiple arguments
#map() with multiple iterable arguments
list_numbers = [1, 2, 3, 4]
tuple_numbers = (5, 6, 7, 8)

map_iterator = map(lambda x, y: x * y, list_numbers, tuple_numbers)

print_iterator(map_iterator)

5 12 21 32

In [22]:
sequence = ['d','a','t','j','k','o','p','l']

In [ ]:
def fun(variable):
    letters = ['a','e','i','o','u']

    if (variable in letters):
        return True
    else:
        return False

In [23]:
filtered = filter(fun, sequence)
list(filtered)

['a', 'o']

In [24]:
from functools import reduce

In [25]:
numbers = [1,2,3,4]

total = 0

for num in numbers:
    total += num

total

10

In [26]:
#using reduce function
def my_add(a, b):
    return a + b

my_add(1, 2)

3

In [27]:
numbers = [1,2,3,4]

In [28]:
reduce(my_add, numbers)

10

In [29]:
#using lambda function
reduce( (lambda x, y: x + y), [1,2,3,4])

10